.navegacion{
    display: flex;
    background-color: bisque;
    justify-content: space-around;
}
h1{
    color: red;
    align-items: center;
}
.opciones__item{
    color: blue;
    list-style: none;
}
.seccion__principal{
    width: 100%;
    height: 500px;
    background-color: tan;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.titulo__seccion__principal{
    color: black;
}
img{
    height: 200px;
}